@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    text-align: left;
    margin-left: 10%;

    /* border: 1px solid #ff0000; */
}

.logo h1 {
    font-family: "Lobster", serif;
    font-size: 34px;
    color: #180f4a;

}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;


    /* border: 1px solid #ff0000; */
}

.menu a {
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;

}

.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#contact {
    background-color: #180f4a;
    border-radius: 10px;
    padding: 10px 25px;
    color: #fff;
    margin-right: 10%;
    margin-left: 5%;
}

#contact:hover {
    border: none;
    background-color: #ff2978;

}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 100px;

    /* background: gray; */
}

.headeline {
    margin-left: 10%;
    flex: 40%;

    /* border: 1px solid #000000; */
}

.headeline h2 {
    font-weight: 900;
    font-size: 80px;
    margin: 0;
    color: #180f4a;

}

h2#letter-spacing {
    letter-spacing: 15px;
    font-size: 20px;
}

.img-headeline {
    margin-right: 10%;
    flex: 40%;


    /* border: 1px solid #000000; */
}

.img-headeline img {
    max-width: 90%;
}

.headeline p {
    color: #808080;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: #ff2978;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    color: #fff;
}

.contact-btn:hover {
    background-color: #180f4a;
}

section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
    height: auto;
    width: 90%;

    /* border: 1px solid black; */
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", serif;
    font-weight: bold;
    color: #180f4a;

}

.services {
    display: inline-block;
    margin-top: 5%;

}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    background-color: #ff2978;
    padding: 50px;
    color: #fff;
}

.card:hover img {
    display: none;
}

.hidden-content {
    display: none;

}

.card:hover .card-content {
    display: none;

}

.card:hover .hidden-content {
    display: block;
}

footer {
    margin-top: 100px;
    height: 400px;
    background: linear-gradient(180deg, #180f4a, #090422, #000);
    text-align: center;
    border-top: 5px solid #ff2978;
}

.logo-rodape {
    padding: 100px;
    color: #fff;
    font-family: "Lobster", serif;
}

.logo-rodape p {
    font-family: "Roboto", serif;
}

b {
    color: #fff;
}

.whatsapp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 64px;
    cursor: pointer;
}